# 創建資料庫

In [ ]:
CREATE DATABASE `sql_tutorial`;  # 生成 sql_tutorial 資料庫
SHOW DATABASES;                  # 顯示所有資料庫
CREATE DATABASE `database`;      # 生成 database 資料庫
DROP DATABASE `database`;        # 刪除 database 資料庫

# 創建表格

In [ ]:
INT               -- 整數
DECIMAL(m,n)      -- 有小數點的數，總共有m位數，小數點佔了n位；DECIMAL(3,2)->5.44
VARCHAR(n)        -- 字串
BLOB              -- (Binary Large Object) 圖片、影片、檔案...
DATE              -- 'YYYY-MM-DD' 日期
TIMESTAMP         -- 'YYYY-MM-DD HH:MM:SS' 紀錄時間

In [ ]:
CREATE TABLE `student`(
	`student_id` INT PRIMARY KEY,
	`name` VARCHAR(20),
    `major` VARCHAR(20)    
);                               # 生成 student 表格

CREATE TABLE `student`(
	`student_id` INT,
	`name` VARCHAR(20),
    `major` VARCHAR(20),
    PRIMARY KEY(`student_id`)
);                               # PRIMARY KEY 不同寫法

DESCRIBE `student`;              # 顯示 student 表格屬性
DROP TABLE `student`;            # 刪除 student 表格

ALTER TABLE `student` ADD `gpa` DECIMAL(3,2);    # student 表格中增加 gpa 行
ALTER TABLE `student` DROP COLUMN `gpa`;         # student 表格中刪除 gpa 行

# 儲存資料

In [ ]:
SELECT * FROM `student`;         # 顯示 student 表格內容

INSERT INTO `student` VALUES(1, '小白', '歷史'); # 新增 student 表格內容
INSERT INTO `student` VALUES(2, '小黑', '生物');
INSERT INTO `student` VALUES(3, '小綠', NULL);
INSERT INTO `student` VALUES(3, '小藍', '英語');
INSERT INTO `student` (`name`, `major`, `student_id`) VALUES('小藍', '英語', 4);
INSERT INTO `student` ( `major`, `student_id`) VALUES('英語', 5);
INSERT INTO `student` VALUES(5, NULL, '英語');

# 限制

In [ ]:
NOT NULL              # 不能為NULL
UNIQUE                # 唯一
DEFAULT               # 預設
AUTO_INCREMENT        # 自動累進

In [ ]:
CREATE TABLE `student`(
	`student_id` INT AUTO_INCREMENT,
	`name` VARCHAR(20) NOT NULL,
    `major` VARCHAR(20) UNIQUE,
    PRIMARY KEY(`student_id`)
);

CREATE TABLE `student`(
	`student_id` INT AUTO_INCREMENT,
	`name` VARCHAR(20) NOT NULL,
    `major` VARCHAR(20) DEFAULT '歷史',
    PRIMARY KEY(`student_id`)
);

INSERT INTO `student` ( `name`) VALUES('小白');
INSERT INTO `student` ( `name`, `major`) VALUES('小黑', '歷史');
INSERT INTO `student` ( `name`, `major`) VALUES('小綠', '英語');

# 修改、刪除資料

In [ ]:
SET SQL_SAFE_UPDATES = 0;

是一條 MySQL 指令，用來關閉 SQL 安全更新模式（Safe Updates Mode）。這個模式主要用來防止執行可能影響大量數據的 UPDATE 或 DELETE 語句，特別是在 沒有 WHERE 條件 或 沒有 PRIMARY KEY / UNIQUE KEY 限制 時。

> 大於
< 小於
>= 大於等於
<= 小於等於
= 等於
<> 不等於

CREATE TABLE `student`(
	`student_id` INT PRIMARY KEY,
	`name` VARCHAR(20),
    `major` VARCHAR(20),
    `score` INT
);

DROP TABLE `student`;        # 刪除 student 表格

SELECT * FROM `student`;        # 顯示 student 表格內容

INSERT INTO `student` VALUES(1, '小白', '英語', 50);
INSERT INTO `student` VALUES(2, '小黃', '生物', 90);
INSERT INTO `student` VALUES(3, '小綠', '歷史', 70);
INSERT INTO `student` VALUES(4, '小藍', '英語', 80);
INSERT INTO `student` VALUES(5, '小黑', '化學', 20);

將`英語` 改成 `英語文學`

In [ ]:
UPDATE `student`
SET `major` = '英語文學'
WHERE `major` = '英語';

將`第三位學生的主修` 改成 `生物`

In [ ]:
UPDATE `student`
SET `major` = '生物'
WHERE `student_id` = 3;

將`生物` 或 `化學` 改成 `生化`

In [ ]:
UPDATE `student`
SET `major` = '生化'
WHERE `major` = '生物' OR `major` = '化學';

將`第一位學生` 的名字 改成 `小灰` 且 主修 改成 `物理`

In [ ]:
UPDATE `student`
SET `name` = '小灰', `major` = '物理'
WHERE `student_id` = 1;

將 ==所有的== 的 主修 改成 `物理`

In [ ]:
UPDATE `student`
SET`major` = '物理'

刪除 `分數` 介於 50 至 80 之間的欄位

In [ ]:
DELETE FROM `student`
WHERE `score` < 80 AND `score` > 50;

將 ==所有== 欄位清空

In [ ]:
DELETE FROM `student`;

# 取得、搜尋資料

In [ ]:
SET SQL_SAFE_UPDATES = 0;

CREATE TABLE `student`(
	`student_id` INT PRIMARY KEY,
	`name` VARCHAR(20),
    `major` VARCHAR(20),
    `score` INT
);

DROP TABLE `student`;

SELECT * FROM `student`;

INSERT INTO `student` VALUES(1, '小白', '英語', 50);
INSERT INTO `student` VALUES(2, '小黃', '生物', 90);
INSERT INTO `student` VALUES(3, '小綠', '歷史', 20);
INSERT INTO `student` VALUES(4, '小藍', '英語', 80);
INSERT INTO `student` VALUES(5, '小黑', '化學', 20);

In [ ]:
SELECT * 
FROM `student`
ORDER BY `score` ASC;

SELECT * 
FROM `student`
ORDER BY `score` DESC;

排序方式先根據 `score` 再根據 `student_id`

In [ ]:
SELECT * 
FROM `student`
ORDER BY `score` , `student_id`;

列出 `分數` 高的前三列

In [ ]:
SELECT * 
FROM `student`
ORDER BY `score` DESC
LIMIT 3;

列出 `主修` 為 英語 且 `分數` 不等於 80

In [ ]:
SELECT * 
FROM `student`
WHERE `major` = '英語' AND `score` <> 80;

列出 `主修` 為 歷史 或 英語 或 生物 的欄位

In [ ]:
SELECT * 
FROM `student`
WHERE `major` IN('歷史', '英語', '生物');